[*.cs]

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# RCS1123: Add parentheses according to operator precedence.
dotnet_diagnostic.RCS1123.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none

# CA1717: Only FlagsAttribute enums should have plural names
dotnet_diagnostic.CA1717.severity = none

dotnet_diagnostic.CA2227.severity = none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = none

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = none

# CA1812: CalcStartParameterSetLogger is an internal class that is apparently never instantiated. If so, remove the code from the assembly. If this class is intended to contain only static members, make it static (Shared in Visual Basic).
dotnet_diagnostic.CA1812.severity = none

# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1814.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# RCS1085: Use auto-implemented property.
dotnet_diagnostic.RCS1085.severity = none

# RCS1057: Add empty line between declarations.
dotnet_diagnostic.RCS1057.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# IDE0062: Make local function 'static'
csharp_prefer_static_local_function = true:none

# RCS1169: Make field read-only.
dotnet_diagnostic.RCS1169.severity = none

# RCS1036: Remove redundant empty line.
dotnet_diagnostic.RCS1036.severity = none

# RCS1146: Use conditional access.
dotnet_diagnostic.RCS1146.severity = none

# RCS1139: Add summary element to documentation comment.
dotnet_diagnostic.RCS1139.severity = none

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = none

# CA1030: Use events where appropriate
dotnet_diagnostic.CA1030.severity = none

# CA1065: Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1065.severity = none

# CA1060: Move pinvokes to native methods class
dotnet_diagnostic.CA1060.severity = none

# RCS1155: Use StringComparison when comparing strings.
dotnet_diagnostic.RCS1155.severity = none

# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2100.severity = none

# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity = none

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none
